PORT=4000
MONGODB_URI=mongodb://localhost:27017/freshveggie
JWT_SECRET=replace-me
CLIENT_ORIGIN=http://localhost:19006
DELIVERY_APP_ORIGIN=http://localhost:19016
RAZORPAY_KEY_ID=demo  
RAZORPAY_KEY_SECRET=demo
STRIPE_SECRET_KEY=demo
FCM_SERVER_KEY=demo


